<!DOCTYPE html>
<head>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Styles.css') }}"> 
  <title> Air Pollution </title>  
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
 <!--<h2 style="width: 30%; text-align-last: left;" class="d2"> Air Pollution and Climate Change </h2>-->   
<table style="background-color: rgb(248, 248, 248); height:10%;">
  <td style="height:10px; width: 35%;"><img src="" style="width:auto"></td>
  <td style="width: 70%;"><h10 style="color: rgb(15,15,15); font-size: 50px; font-family: arial;"> Air Pollution and Climate Change </h10></td>
  <td style="text-align-last: center;"><button class="button" style="width: 300px;"><a href="home" >Air Quality Tracker Map</a></button></td>
</table>
<div class="navbar" style="text-align:justify;">
      <div class="dropdown" style="text-align: right;"> 
        <button class="dropbtn"><a href="home">Live Map</a> 
          
        </button>
        
      </div>
      
</div>
  <script>
var slideIndex = 1;
showSlides(slideIndex);

function plusSlides(n) {
  showSlides(slideIndex += n);
}

function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides(n) {
  var i;
  var slides = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("dot");
  if (n > slides.length) {slideIndex = 1}    
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";  
  }
  for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";  
  dots[slideIndex-1].className += " active";
}
    

</script>

<!-- Slideshow container -->
<div class="slideshow-container">
    <div class="mySlides fade">
      <center>
     	 <iframe width="768" height="432" src="https://www.youtube.com/embed/haBG2IIbwbA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <div class="text">Caption Text</div>
      </center>
    </div>
    
    <div class="mySlides fade">
      <center>
      	<iframe width="768" height="432" src="https://www.youtube.com/embed/aWqjqLFmQnA?rel=0" frameborder="0" allowfullscreen></iframe>
        <div class="text">Caption Text 1</div>
      </center>
    </div>
    
    <div class="mySlides fade">
      <center>
      	<iframe width="768" height="432" src="https://www.youtube.com/embed/1rZDJrVcie4?rel=0" frameborder="0" allowfullscreen></iframe>
        <div class="text">Caption Text 2</div>
      </center>
    </div>
  <!-- Next and previous buttons -->
  <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
  <a class="next" onclick="plusSlides(1)">&#10095;</a>
</div> 
    <div style="text-align:center">
      <span class="dot" onclick="currentSlide(1)"></span> 
      <span class="dot" onclick="currentSlide(2)"></span> 
      <span class="dot" onclick="currentSlide(3)"></span> 
    </div>
 <script>
  var slideIndex = 1;
  showSlides(slideIndex);
  </script>
<div class="tab">
  <button class="tablinks" onclick="openTab(event, 'Air_Quality')" id="defaultOpen">Air Quality</button>
  <button class="tablinks" onclick="openTab(event, 'Climate_Change')">Climate Change</button>
  <button class="tablinks" onclick="openTab(event, 'Climate_Solutions')">Climate Solutions</button>
</div>

<div id="Air_Quality" class="tabcontent">
<h2>Have you ever wondered what is in the air we breathe? Learn this and what impacts the Earth’s air quality.</h2>
<button type="button" class="collapsible">What is Air Quality?</button>
<div class="content">
  <p>When air quality is good, the air is clear and contains only small amounts of solid particle and chemical pollutants. Poor air quality, which contains high levels of pollutants, is often hazy and dangerous to health and the environment. Air quality is described according to the Air Quality Index (AQI), which is based on the concentration of pollutants present in the air at a particular location.</p>
  <p/>
  <b>Why Does Air Quality Change?</b>
  <p>Because air is always moving, air quality can change from day to day, or even from one hour to the next. For a specific location, the air quality is a direct result of both how air moves through the area and how people are influencing the air. </p>
  <b>Humans Affect Air Quality</b>
<p>Geographic features such as mountain ranges, coastlines, and land use can cause air pollutants to concentrate in or disperse from an area. However, the types and amounts of pollutants entering the air have a much larger impact on air quality. Natural sources, such as volcanic activity or dust storms, add some pollutants to the air, but most pollutants come from human activity. Vehicle exhaust, smoke from coal power plants, and toxic gases from industry are examples of human-made air pollutants.</p>

  <b>Winds Affect Air Quality</b>
<p>Wind patterns have an impact on air quality because winds move air pollution around. For example, a coastal area with an inland mountain range may have more air pollution during the day when sea breezes push pollutants over land and lower air pollution in the evenings because the direction of the breeze reverses. Land breezes in the evenings push air pollution out over the ocean.</p>

  <b>Temperature Affects Air Quality</b>
<p>Temperature can also affect air quality. In urban areas, air quality is often worse in the winter months. When the air temperature is cooler, exhaust pollutants can be trapped close to the surface beneath a layer of dense, cold air. In summer months, heated air rises and disperses pollutants from the Earth’s surface through the upper troposphere, and increased sunlight results in more harmful ground-level ozone.</p>
  </div>
<button type="button" class="collapsible">How We're Changing the Air</button>
<div class="content">
  <p>Air pollution is created when harmful substances, in the form of gases, liquids, or solids, enter the air. There are natural processes that create air pollution - such as sulfur and chlorine gases from volcanic activity, smoke and ash from wildfires, dust storms, and biological decay - but most pollution enters the air from human-made (anthropogenic) sources.

Most human-made air pollution comes from burning fossil fuels for transportation, electricity, and industry. Common pollutants produced by fossil fuel burning engines are carbon dioxide, nitrogen oxides, sulfur dioxide, volatile organic compounds (VOCs), and particulates. Stoves, incinerators, and open burning produce carbon monoxide and carbon dioxide, as well as particulates.

We also create chemicals that would not naturally occur in the atmosphere. Chlorofluorocarbons (CFCs) and hydrochlorofluorocarbons (HCFCs), which are used as refrigerants, are examples of pollutants that only come from human activity. Other sources of CFCs include fumes from aerosol sprays, paint, varnish, and solvents.</p>
  <b> Six Types of Human-Made Air Pollutants </b>
<p>The Environmental Protection Agency (EPA) Air Quality Index (AQI) is based on the measurements of six pollutants: particulate matter (PM), nitrogen dioxide (NO2), ozone (O3), sulfur dioxide (SO2), lead (Pb), and carbon monoxide (CO).</p>

  <b>Particulate Matter (PM)</b>
<p> An image comparing size of particulate matter to other small objects. The largest object is a human hair (which is between 50-70 microns in diameter), then a grain of fine beach sand (which is about 90 microns in diameter). On the hair is shown an example of particulate matter that is less than 10 microns in diameter, such as dust, pollen, or mold. And on the the dust, pollen, or mold is shown an example of particulate matter that is less than 2.5 microns in diameter (combustion particles or VOCs).
How small is 2.5 micrometers? The average human hair is between 50-70 micrometers. Fine particulate matter is so tiny that it enters the lungs and even the bloodstream.

Particulate matter, also called aerosols or particle pollution, is composed of a large variety of chemicals. Some particles are primary pollutants that come directly from smokestacks, construction sites, fires, or volcanoes. However, most are secondary pollutants that form as the result of chemical reactions in the atmosphere due to emissions from power plants, factories, and vehicles.

<ul>Particulate matter is classified by size:

<li> PM10 is coarse particles with a diameter of 2.5 to 10 micrometers, such as dust, dirt, pollen, or mold.</li>
<li> PM2.5  is fine particles with a diameter of 2.5 micrometers or less, such as soot, smoke, organic compounds, or metals.</li>
  </ul> </p>
      <b>Nitrogen Dioxide </b>

<p>Vehicle exhaust is the largest source of nitrogen dioxide pollution in the atmosphere, but it is also formed by factories and power plants, and naturally by lightning strikes, volcanoes, and during the decomposition of organic matter. Nitrogen dioxide causes the characteristic reddish-brown color of smog and reacts in the presence of sunlight to produce harmful ozone.</p>


      <b>Ozone (O3)</b>
<p> Though ozone naturally exists within the stratosphere, it does not typically occur at the surface. Ozone in the troposphere is a secondary air pollutant created from chemical reactions with other air pollutants. It forms when nitrogen oxides from tailpipes and smokestacks react with VOCs in the presence of sunlight. Tropospheric ozone, also called ground-level ozone, is most common in urban areas and is often measured at high levels in the summer and during the warmest times of the day.

One common type of secondary pollution that contains ozone is smog. Smog is a smelly, toxic haze composed of ground-level ozone, particulate matter, and a variety of other chemicals. Smog is an example of how primary air pollution from human activity can lead to even more harmful secondary pollution.</p>

      <b>Sulfur Dioxide (SO2)</b>
<p> The smell associated with burnt matches comes from sulfur dioxide. Almost all sulfur dioxide in the atmosphere is the result of human activity, though volcanoes are also a natural source.  Coal, oil, and gas often contain sulfur, as do some mineral ores. The burning of any of these sulfur-containing materials, during industrial processing or generation of electricity, releases toxic sulfur dioxide and sulfur trioxide, together called sulfur oxides, into the atmosphere. When mixed with water droplets suspended in the air, sulfur dioxide forms sulfuric acid, which is a component of acid rain.</p>

      <b> Lead (Pb)</b>
      </p>Lead is a heavy metal found naturally underground. It enters the air through ore and metals processing, and through the burning of leaded fuel for aircraft and vehicles. The EPA’s requirement to remove lead from “on-road” vehicle gasoline resulted in a 98% decrease in lead levels in the air between 1980 and 2014 (leaded fuels are still allowed for race cars, farm equipment, and propellor aircraft).</p>

  <b>Carbon Monoxide (CO)</b>
<p>If something is burning, carbon monoxide is likely being released. Carbon monoxide is a poisonous gas that is created when carbon is burned. Most of the carbon monoxide pollution comes from burning fossil fuels in vehicles, factories, and power plants, but another major source is from burning wood or crop waste. Carbon monoxide is released from volcanoes and forest fires as well. Secondary pollutants like ozone and carbon dioxide (CO2), a greenhouse gas, come from carbon monoxide.</p>

  <b>Greenhouse Gas Pollution  </b>
<p>The burning of fossil fuels for electricity, heat, and transportation is increasing the amount of greenhouse gases such as carbon dioxide (CO2), nitrous oxide (N2O), and methane (CH4) in our atmosphere. Small amounts of these gases in the atmosphere are safe to breathe but are also dangerous because they are changing Earth’s climate through a process called the greenhouse effect. Land use changes due to farming and forestry also lead to an increase in greenhouse gas emissions. For example, livestock and their waste release methane, and cutting down trees mean less carbon dioxide is removed from the air. The shift from coal to natural gas as an energy source and the increased use of renewable energy is helping to slow carbon dioxide emissions, but overall greenhouse gas emissions remain high. As long as greenhouse gas emissions remain high, global average temperatures will continue to rise.</p>
  
</div>

<button type="button" class="collapsible">Effects of Air Pollution</button>
<div class="content">
  <p>Air pollution affects all things. It is harmful to our health, and it impacts the environment - reducing visibility and blocking sunlight, causing acid rain, and harming forests, wildlife, and agriculture. Greenhouse gas pollution, the cause of climate change, affects the entire planet.</p>

  <b>Harming Human Health</b>
<p>According to the World Health Organization, an estimated seven million people die each year from air pollution. More than 4,000 people died in just a few months due to a severe smog event that occurred in London in 1952. Ground-level ozone causes muscles in the lungs to contract, making it difficult to breathe. Exposure to high ozone levels can cause sore throat, coughing, lung inflammation, and permanent lung damage. Symptoms from short term exposure typically resolve quickly, but long term exposure is linked to serious illness and disease in multiple body systems. Children, the elderly, and people with ongoing illnesses are more vulnerable to air pollution than other groups. Urban populations are also at greater risk due to high concentrations of pollution within cities. Check the current air quality in your area to determine if you should take precautions such as reducing or avoiding outdoor activity.</p>

  <b>Harming Animals and Plants</b>

<p>Wildlife can experience many of the same negative health effects of air pollution that humans do. Damage to respiratory systems is the most common effect on animals, but neurological problems and skin irritations are also common.

Plants and crops grow less when exposed to long term air pollution. Ozone pollution harms plants by damaging structures called stomata, which are tiny pores on the underside of leaves that allow the plant to "breathe." Some types of plants can protect themselves by temporarily closing their stomata or producing antioxidants, but others are particularly sensitive to damage. Between 1980-2011 nine billion dollars worth of soybeans and corn were lost in the US as a result of ozone pollution. When acid rain, lead toxicity, and exposure to nitrogen oxides change the chemical nature of the soil, plants are robbed of the nutrients that they need to grow and survive. This impacts agriculture, forests, and grasslands.

There are many other ways that air pollution affects living things, such as damaging the habitat, water, and food sources that plants and animals need to survive.</p>

  <b>Causing Acid Rain</b>
  <p>Burning fossil fuels releases sulfur and nitrogen oxides into the atmosphere. Acid rain forms when sulfur dioxide and nitrogen dioxide mix with water droplets in the atmosphere to make sulfuric acid and nitric acid. Winds can carry these pollutants for thousands of miles, until they fall to the Earth's surface as acid rain that damages the leaves of vegetation, increases the acidity of soils and water, and is linked to over 500 deaths each year. Buildings and other structures are also impacted by acid rain, which causes an estimated five billion dollars worth of property damage each year. Acid rain dissolves mortar between bricks, causes stone foundations to become unstable, and is destroying ancient buildings and statues carved from marble or limestone.</p>

  <b>Reducing Sunlight</b>
<p>High levels of particulate pollution from all types of burning reduces the amount of sunlight that reaches the surface and even change the appearance of the sky. When less sunlight is available for photosynthesis, forests grow at a slower rate and crops are less productive. Hazy skies not only reduce visibility, but also impact the weather and even the climate.</p>
<b>Making a Hole in the Ozone Layer</b>
  <p>The hole in the ozone layer is caused by air pollutants. Chemicals used as refrigerants, such as chlorofluorocarbons (CFCs), contain chlorine atoms. Releasing chlorine atoms into the atmosphere destroys ozone. A single chlorine atom can destroy thousands of ozone molecules. The ozone layer blocks harmful UVB radiation from the Sun- it protects us in a way that is similar to putting sunscreen on your skin to prevent sunburn. The ozone hole puts all living things at risk by increasing the amount of UVB that reaches the surface. Exposure to UVB increases the risk of skin cancer in humans, restricts growth and development in plants, slows the development of fish and amphibians, and reduces the number of phytoplankton in marine ecosystems. UVB also causes natural and synthetic materials to breakdown at an accelerated rate.</p>
</div>


<button type="button" class="collapsible">Air Pollution Solutions</button>
<div class="content">
  <h2>There are many solutions to air pollution :</h2>
  
  <p>In order to improve air quality and slow climate warming, change needs to happen on a national and global scale. But actions at the individual and community level are also important.</p>
  
  <p> <b> Burn less coal.</b> Pollution from burning all fossil fuels is harmful to the atmosphere. But, burning coal has a larger impact on air pollution than burning oil or gas because it releases more carbon dioxide, sulfur dioxide, and heavy metal pollutants per unit of energy. Also, over one-third of the electricity produced in the world comes from burning coal. As of 2014, the global demand for coal is beginning to decline. In North America, coal plants are being replaced by natural gas. Some countries, such as Japan and South Korea, rely more on nuclear energy, and there is a global increase in electricity supplied by clean, renewable sources--wind, solar, and water.<p>
  <p><b> Lessen the impact of cars. </b> Cars and vehicles create exhaust full of carbon dioxide, nitrogen dioxide, and other pollutants. Driving less, in favor of public transportation, biking, or walking, helps decrease air pollution. Also, using cars with increased fuel efficiency or electric cars that do not rely on fossil fuels can decrease the amount of pollution we are contributing to the atmosphere. When you use your car, keep the engine tuned and the tires properly inflated to decrease fuel consumption. Whenever possible, take fewer trips by combining errands. Many cities are helping by investing in better, affordable public transportation and developing city plans that include infrastructure for walking, biking, and public transit. <p>
 <p> <b>Conserve energy--at home, work, and everywhere!</b> The demand for electricity, which is most often produced from burning fossil fuels, has grown exponentially over the past decades. Conserve energy by turning off lights, buy appliances rated for energy efficiency, and keep the thermostat set higher in the summer and lower in the winter. Whenever possible, invest in renewable energy sources to power your home. Several countries are using renewables, nuclear, or lower emission sources like natural gas to meet their increasing power demand. And many countries plan to significantly increase their use of renewable energy sources in the future.</p>
 <p> <b>Monitor air quality warnings, and take action on poor air quality days.</b> On days when pollution levels are high, taking action can help reduce the risk of harm to those who are most vulnerable. Reducing overall car usage, and avoiding idling your car can help on days with high levels of ozone pollution. Save refueling and use of gas-powered yard equipment for the evening when it is cooler and ozone levels are lower. On days when particle pollutants are high, avoid burning yard waste and wood. Choosing to carpool or using a clean transportation method is always helpful, especially on days with high levels of air pollution.</p>
 <p> <b>Take action within your community to find solutions to air pollution.</b> Around the world, many of the current solutions are the result of communities coming together to demand change. Citizens in Shenzhen, China, inspired a switch to electric buses in their city. In Brussels, Belgium, a movement started by parents concerned about poor air quality in schools, led to a plan to invest in public transportation and cycling, along with a ban on fueled cars by 2030. And in many countries, governments are closing coal plants and exploring new sources of energy because of citizens who are concerned about climate warming.</p>
</div>
  
</div>

<div id="Climate_Change" class="tabcontent">
<button type="button" class="collapsible">What is Air Quality?</button>
<div class="content">
 </div>
  <button type="button" class="collapsible">What is Air Quality?</button>
<div class="content">
 </div>
  <button type="button" class="collapsible">What is Air Quality?</button>
<div class="content">
 </div>
  <button type="button" class="collapsible">What is Air Quality?</button>
<div class="content">
 </div>
</div>

<div id="Climate_Solutions" class="tabcontent">
  <h3>Tokyo</h3>
  <p>Tokyo is the capital of Japan.</p>
</div>

<script>
function openTab(evt, cityName) {
  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }
  document.getElementById(cityName).style.display = "block";
  evt.currentTarget.className += " active";
}
  
 // Get the element with id="defaultOpen" and click on it
document.getElementById("defaultOpen").click();
  
  var coll = document.getElementsByClassName("collapsible");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.display === "block") {
      content.style.display = "none";
    } else {
      content.style.display = "block";
    }
  });
}
</script>
</body>
<html>
