<!DOCTYPE html>
<head>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Styles.css') }}"> 
  <title> Air Pollution </title>  
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
 <!--<h2 style="width: 30%; text-align-last: left;" class="d2"> Air Pollution and Climate Change </h2>-->   
<table style="background-color: rgb(248, 248, 248); height:10%;">
  <td style="height:10px; width: 35%;"><img src="" style="width:auto"></td>
  <td style="width: 70%;"><h10 style="color: rgb(15,15,15); font-size: 50px; font-family: arial;"> Air Pollution and Climate Change </h10></td>
  <td style="text-align-last: center;"><button class="button" style="width: 300px;"><a href="home" >Air Quality Tracker Map</a></button></td>
</table>
<div class="navbar" style="text-align:justify;">
      <div class="dropdown" style="text-align: right;"> 
        <button class="dropbtn"><a href="home">Live Map</a> 
          
        </button>
        
      </div>
      
</div>
  <script>
var slideIndex = 1;
showSlides(slideIndex);

function plusSlides(n) {
  showSlides(slideIndex += n);
}

function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides(n) {
  var i;
  var slides = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("dot");
  if (n > slides.length) {slideIndex = 1}    
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";  
  }
  for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";  
  dots[slideIndex-1].className += " active";
}
    

</script>

<!-- Slideshow container -->
<div class="slideshow-container">
    <div class="mySlides fade">
      <center>
     	 <iframe width="768" height="432" src="https://www.youtube.com/embed/haBG2IIbwbA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <div class="text">Caption Text</div>
      </center>
    </div>
    
    <div class="mySlides fade">
      <center>
      	<iframe width="768" height="432" src="https://www.youtube.com/embed/aWqjqLFmQnA?rel=0" frameborder="0" allowfullscreen></iframe>
        <div class="text">Caption Text 1</div>
      </center>
    </div>
    
    <div class="mySlides fade">
      <center>
      	<iframe width="768" height="432" src="https://www.youtube.com/embed/1rZDJrVcie4?rel=0" frameborder="0" allowfullscreen></iframe>
        <div class="text">Caption Text 2</div>
      </center>
    </div>
  <!-- Next and previous buttons -->
  <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
  <a class="next" onclick="plusSlides(1)">&#10095;</a>
</div> 
    <div style="text-align:center">
      <span class="dot" onclick="currentSlide(1)"></span> 
      <span class="dot" onclick="currentSlide(2)"></span> 
      <span class="dot" onclick="currentSlide(3)"></span> 
    </div>
 <script>
  var slideIndex = 1;
  showSlides(slideIndex);
  </script>
<div class="tab">
  <button class="tablinks" onclick="openTab(event, 'Air_Quality')" id="defaultOpen">Air Quality</button>
  <button class="tablinks" onclick="openTab(event, 'Climate_Change')">Climate Change</button>
  <button class="tablinks" onclick="openTab(event, 'Climate_Solutions')">Climate Solutions</button>
</div>

<div id="Air_Quality" class="tabcontent">
<h2>Have you ever wondered what is in the air we breathe? Learn this and what impacts the Earth’s air quality.</h2>
<button type="button" class="collapsible">What is Air Quality?</button>
<div class="content">
  <p>When air quality is good, the air is clear and contains only small amounts of solid particle and chemical pollutants. Poor air quality, which contains high levels of pollutants, is often hazy and dangerous to health and the environment. Air quality is described according to the Air Quality Index (AQI), which is based on the concentration of pollutants present in the air at a particular location.</p>
  <p/>
  <b>Why Does Air Quality Change?</b>
  <p>Because air is always moving, air quality can change from day to day, or even from one hour to the next. For a specific location, the air quality is a direct result of both how air moves through the area and how people are influencing the air. </p>
  <b>Humans Affect Air Quality</b>
<p>Geographic features such as mountain ranges, coastlines, and land use can cause air pollutants to concentrate in or disperse from an area. However, the types and amounts of pollutants entering the air have a much larger impact on air quality. Natural sources, such as volcanic activity or dust storms, add some pollutants to the air, but most pollutants come from human activity. Vehicle exhaust, smoke from coal power plants, and toxic gases from industry are examples of human-made air pollutants.</p>

  <b>Winds Affect Air Quality</b>
<p>Wind patterns have an impact on air quality because winds move air pollution around. For example, a coastal area with an inland mountain range may have more air pollution during the day when sea breezes push pollutants over land and lower air pollution in the evenings because the direction of the breeze reverses. Land breezes in the evenings push air pollution out over the ocean.</p>

  <b>Temperature Affects Air Quality</b>
<p>Temperature can also affect air quality. In urban areas, air quality is often worse in the winter months. When the air temperature is cooler, exhaust pollutants can be trapped close to the surface beneath a layer of dense, cold air. In summer months, heated air rises and disperses pollutants from the Earth’s surface through the upper troposphere, and increased sunlight results in more harmful ground-level ozone.</p>
  </div>
<button type="button" class="collapsible">How We're Changing the Air</button>
<div class="content">
  <p>Air pollution is created when harmful substances, in the form of gases, liquids, or solids, enter the air. There are natural processes that create air pollution - such as sulfur and chlorine gases from volcanic activity, smoke and ash from wildfires, dust storms, and biological decay - but most pollution enters the air from human-made (anthropogenic) sources.

Most human-made air pollution comes from burning fossil fuels for transportation, electricity, and industry. Common pollutants produced by fossil fuel burning engines are carbon dioxide, nitrogen oxides, sulfur dioxide, volatile organic compounds (VOCs), and particulates. Stoves, incinerators, and open burning produce carbon monoxide and carbon dioxide, as well as particulates.

We also create chemicals that would not naturally occur in the atmosphere. Chlorofluorocarbons (CFCs) and hydrochlorofluorocarbons (HCFCs), which are used as refrigerants, are examples of pollutants that only come from human activity. Other sources of CFCs include fumes from aerosol sprays, paint, varnish, and solvents.</p>
  <b> Six Types of Human-Made Air Pollutants </b>
<p>The Environmental Protection Agency (EPA) Air Quality Index (AQI) is based on the measurements of six pollutants: particulate matter (PM), nitrogen dioxide (NO2), ozone (O3), sulfur dioxide (SO2), lead (Pb), and carbon monoxide (CO).</p>

  <b>Particulate Matter (PM)</b>
<p> An image comparing size of particulate matter to other small objects. The largest object is a human hair (which is between 50-70 microns in diameter), then a grain of fine beach sand (which is about 90 microns in diameter). On the hair is shown an example of particulate matter that is less than 10 microns in diameter, such as dust, pollen, or mold. And on the the dust, pollen, or mold is shown an example of particulate matter that is less than 2.5 microns in diameter (combustion particles or VOCs).
How small is 2.5 micrometers? The average human hair is between 50-70 micrometers. Fine particulate matter is so tiny that it enters the lungs and even the bloodstream.

Particulate matter, also called aerosols or particle pollution, is composed of a large variety of chemicals. Some particles are primary pollutants that come directly from smokestacks, construction sites, fires, or volcanoes. However, most are secondary pollutants that form as the result of chemical reactions in the atmosphere due to emissions from power plants, factories, and vehicles.

<ul>Particulate matter is classified by size:

<li> PM10 is coarse particles with a diameter of 2.5 to 10 micrometers, such as dust, dirt, pollen, or mold.</li>
<li> PM2.5  is fine particles with a diameter of 2.5 micrometers or less, such as soot, smoke, organic compounds, or metals.</li>
  </ul> </p>
      <b>Nitrogen Dioxide </b>

<p>Vehicle exhaust is the largest source of nitrogen dioxide pollution in the atmosphere, but it is also formed by factories and power plants, and naturally by lightning strikes, volcanoes, and during the decomposition of organic matter. Nitrogen dioxide causes the characteristic reddish-brown color of smog and reacts in the presence of sunlight to produce harmful ozone.</p>


      <b>Ozone (O3)</b>
<p> Though ozone naturally exists within the stratosphere, it does not typically occur at the surface. Ozone in the troposphere is a secondary air pollutant created from chemical reactions with other air pollutants. It forms when nitrogen oxides from tailpipes and smokestacks react with VOCs in the presence of sunlight. Tropospheric ozone, also called ground-level ozone, is most common in urban areas and is often measured at high levels in the summer and during the warmest times of the day.

One common type of secondary pollution that contains ozone is smog. Smog is a smelly, toxic haze composed of ground-level ozone, particulate matter, and a variety of other chemicals. Smog is an example of how primary air pollution from human activity can lead to even more harmful secondary pollution.</p>

      <b>Sulfur Dioxide (SO2)</b>
<p> The smell associated with burnt matches comes from sulfur dioxide. Almost all sulfur dioxide in the atmosphere is the result of human activity, though volcanoes are also a natural source.  Coal, oil, and gas often contain sulfur, as do some mineral ores. The burning of any of these sulfur-containing materials, during industrial processing or generation of electricity, releases toxic sulfur dioxide and sulfur trioxide, together called sulfur oxides, into the atmosphere. When mixed with water droplets suspended in the air, sulfur dioxide forms sulfuric acid, which is a component of acid rain.</p>

      <b> Lead (Pb)</b>
      </p>Lead is a heavy metal found naturally underground. It enters the air through ore and metals processing, and through the burning of leaded fuel for aircraft and vehicles. The EPA’s requirement to remove lead from “on-road” vehicle gasoline resulted in a 98% decrease in lead levels in the air between 1980 and 2014 (leaded fuels are still allowed for race cars, farm equipment, and propellor aircraft).</p>

  <b>Carbon Monoxide (CO)</b>
<p>If something is burning, carbon monoxide is likely being released. Carbon monoxide is a poisonous gas that is created when carbon is burned. Most of the carbon monoxide pollution comes from burning fossil fuels in vehicles, factories, and power plants, but another major source is from burning wood or crop waste. Carbon monoxide is released from volcanoes and forest fires as well. Secondary pollutants like ozone and carbon dioxide (CO2), a greenhouse gas, come from carbon monoxide.</p>

  <b>Greenhouse Gas Pollution  </b>
<p>The burning of fossil fuels for electricity, heat, and transportation is increasing the amount of greenhouse gases such as carbon dioxide (CO2), nitrous oxide (N2O), and methane (CH4) in our atmosphere. Small amounts of these gases in the atmosphere are safe to breathe but are also dangerous because they are changing Earth’s climate through a process called the greenhouse effect. Land use changes due to farming and forestry also lead to an increase in greenhouse gas emissions. For example, livestock and their waste release methane, and cutting down trees mean less carbon dioxide is removed from the air. The shift from coal to natural gas as an energy source and the increased use of renewable energy is helping to slow carbon dioxide emissions, but overall greenhouse gas emissions remain high. As long as greenhouse gas emissions remain high, global average temperatures will continue to rise.</p>
  
</div>

<button type="button" class="collapsible">Effects of Air Pollution</button>
<div class="content">
  <p>Air pollution affects all things. It is harmful to our health, and it impacts the environment - reducing visibility and blocking sunlight, causing acid rain, and harming forests, wildlife, and agriculture. Greenhouse gas pollution, the cause of climate change, affects the entire planet.</p>

  <b>Harming Human Health</b>
<p>According to the World Health Organization, an estimated seven million people die each year from air pollution. More than 4,000 people died in just a few months due to a severe smog event that occurred in London in 1952. Ground-level ozone causes muscles in the lungs to contract, making it difficult to breathe. Exposure to high ozone levels can cause sore throat, coughing, lung inflammation, and permanent lung damage. Symptoms from short term exposure typically resolve quickly, but long term exposure is linked to serious illness and disease in multiple body systems. Children, the elderly, and people with ongoing illnesses are more vulnerable to air pollution than other groups. Urban populations are also at greater risk due to high concentrations of pollution within cities. Check the current air quality in your area to determine if you should take precautions such as reducing or avoiding outdoor activity.</p>

  <b>Harming Animals and Plants</b>

<p>Wildlife can experience many of the same negative health effects of air pollution that humans do. Damage to respiratory systems is the most common effect on animals, but neurological problems and skin irritations are also common.

Plants and crops grow less when exposed to long term air pollution. Ozone pollution harms plants by damaging structures called stomata, which are tiny pores on the underside of leaves that allow the plant to "breathe." Some types of plants can protect themselves by temporarily closing their stomata or producing antioxidants, but others are particularly sensitive to damage. Between 1980-2011 nine billion dollars worth of soybeans and corn were lost in the US as a result of ozone pollution. When acid rain, lead toxicity, and exposure to nitrogen oxides change the chemical nature of the soil, plants are robbed of the nutrients that they need to grow and survive. This impacts agriculture, forests, and grasslands.

There are many other ways that air pollution affects living things, such as damaging the habitat, water, and food sources that plants and animals need to survive.</p>

  <b>Causing Acid Rain</b>
  <p>Burning fossil fuels releases sulfur and nitrogen oxides into the atmosphere. Acid rain forms when sulfur dioxide and nitrogen dioxide mix with water droplets in the atmosphere to make sulfuric acid and nitric acid. Winds can carry these pollutants for thousands of miles, until they fall to the Earth's surface as acid rain that damages the leaves of vegetation, increases the acidity of soils and water, and is linked to over 500 deaths each year. Buildings and other structures are also impacted by acid rain, which causes an estimated five billion dollars worth of property damage each year. Acid rain dissolves mortar between bricks, causes stone foundations to become unstable, and is destroying ancient buildings and statues carved from marble or limestone.</p>

  <b>Reducing Sunlight</b>
<p>High levels of particulate pollution from all types of burning reduces the amount of sunlight that reaches the surface and even change the appearance of the sky. When less sunlight is available for photosynthesis, forests grow at a slower rate and crops are less productive. Hazy skies not only reduce visibility, but also impact the weather and even the climate.</p>
<b>Making a Hole in the Ozone Layer</b>
  <p>The hole in the ozone layer is caused by air pollutants. Chemicals used as refrigerants, such as chlorofluorocarbons (CFCs), contain chlorine atoms. Releasing chlorine atoms into the atmosphere destroys ozone. A single chlorine atom can destroy thousands of ozone molecules. The ozone layer blocks harmful UVB radiation from the Sun- it protects us in a way that is similar to putting sunscreen on your skin to prevent sunburn. The ozone hole puts all living things at risk by increasing the amount of UVB that reaches the surface. Exposure to UVB increases the risk of skin cancer in humans, restricts growth and development in plants, slows the development of fish and amphibians, and reduces the number of phytoplankton in marine ecosystems. UVB also causes natural and synthetic materials to breakdown at an accelerated rate.</p>
</div>


<button type="button" class="collapsible">Air Pollution Solutions</button>
<div class="content">
  <h2>There are many solutions to air pollution :</h2>
  
  <p>In order to improve air quality and slow climate warming, change needs to happen on a national and global scale. But actions at the individual and community level are also important.</p>
  
  <p> <b> Burn less coal.</b> Pollution from burning all fossil fuels is harmful to the atmosphere. But, burning coal has a larger impact on air pollution than burning oil or gas because it releases more carbon dioxide, sulfur dioxide, and heavy metal pollutants per unit of energy. Also, over one-third of the electricity produced in the world comes from burning coal. As of 2014, the global demand for coal is beginning to decline. In North America, coal plants are being replaced by natural gas. Some countries, such as Japan and South Korea, rely more on nuclear energy, and there is a global increase in electricity supplied by clean, renewable sources--wind, solar, and water.<p>
  <p><b> Lessen the impact of cars. </b> Cars and vehicles create exhaust full of carbon dioxide, nitrogen dioxide, and other pollutants. Driving less, in favor of public transportation, biking, or walking, helps decrease air pollution. Also, using cars with increased fuel efficiency or electric cars that do not rely on fossil fuels can decrease the amount of pollution we are contributing to the atmosphere. When you use your car, keep the engine tuned and the tires properly inflated to decrease fuel consumption. Whenever possible, take fewer trips by combining errands. Many cities are helping by investing in better, affordable public transportation and developing city plans that include infrastructure for walking, biking, and public transit. <p>
 <p> <b>Conserve energy--at home, work, and everywhere!</b> The demand for electricity, which is most often produced from burning fossil fuels, has grown exponentially over the past decades. Conserve energy by turning off lights, buy appliances rated for energy efficiency, and keep the thermostat set higher in the summer and lower in the winter. Whenever possible, invest in renewable energy sources to power your home. Several countries are using renewables, nuclear, or lower emission sources like natural gas to meet their increasing power demand. And many countries plan to significantly increase their use of renewable energy sources in the future.</p>
 <p> <b>Monitor air quality warnings, and take action on poor air quality days.</b> On days when pollution levels are high, taking action can help reduce the risk of harm to those who are most vulnerable. Reducing overall car usage, and avoiding idling your car can help on days with high levels of ozone pollution. Save refueling and use of gas-powered yard equipment for the evening when it is cooler and ozone levels are lower. On days when particle pollutants are high, avoid burning yard waste and wood. Choosing to carpool or using a clean transportation method is always helpful, especially on days with high levels of air pollution.</p>
 <p> <b>Take action within your community to find solutions to air pollution.</b> Around the world, many of the current solutions are the result of communities coming together to demand change. Citizens in Shenzhen, China, inspired a switch to electric buses in their city. In Brussels, Belgium, a movement started by parents concerned about poor air quality in schools, led to a plan to invest in public transportation and cycling, along with a ban on fueled cars by 2030. And in many countries, governments are closing coal plants and exploring new sources of energy because of citizens who are concerned about climate warming.</p>
</div>
  
</div>

<div id="Climate_Change" class="tabcontent">
<button type="button" class="collapsible">Predicted Impacts of Climate Change</button>
<div class="content">
  <h2>Predicted Impacts of Climate Change</h2>
  
  <p>Climate change is predicted to impact regions differently. For example, temperature increases are expected to be greater on land than over oceans and greater at high latitudes than in the tropics and mid-latitudes. Warmer temperatures will cause (and are causing) changes to other aspects of climate - such as rain, snow, and clouds. They are also causing changes to the ocean, life, ice, and all other parts of the Earth system.</p>

<b>Changing Precipitation</b>
  <p>A warmer average global temperature will cause the water cycle to “speed up” due to a higher rate of evaporation. More water vapor in the atmosphere will lead to more precipitation. Global average precipitation increases by 1% to 3% for each degree of warming, which means we are looking at a future with much more rain and snow, and a higher risk of flooding to some regions. By 2100, precipitation will increase by at least 1% with a possible increase of up to 12%. However, changes in precipitation will not be evenly distributed. Some locations will get more, and others will see less.</p>

<b>Melting Snow and Ice</b>
<p>As the climate warms, snow and ice melt. It is predicted that the melting of glaciers, ice sheets, and other snow and ice on land in the summer will continue to be greater than the amount of precipitation that falls in the winter, which means a decrease in the total amount of snow and ice on the planet. Over the past 100 years, mountain glaciers in all areas of the world have decreased in size and so has the amount of permafrost in the Arctic. Greenland's ice sheet is melting faster, too. The amount of sea ice (frozen seawater) floating in the Arctic Ocean and around Antarctica is expected to decrease. Already the summer thickness of sea ice in the Arctic is about half of what it was in 1950.Arctic sea ice is melting more rapidly than the Antarctic sea ice. Melting ice may lead to changes in ocean circulation, too. Although there is some uncertainty about the amount of melt, summer in the Arctic Ocean will likely be ice-free by the end of the century.</p>

<b>Rising Sea Level</b>
A warmer climate causes sea level to rise via two mechanisms: (1) melting glaciers and ice sheets (ice on land) add water to the oceans, raising the sea level, and (2) ocean water expands as it warms, increasing its volume and thus also raising sea level. During the 20th Century, sea levels rose about 10 to 20 cm (4 to 8 inches). Thermal expansion and melting ice each contributed about half of the rise, though there is some uncertainty in the exact magnitude of the contribution from each source. By the year 2100, models predict sea level will rise between 30 and 100 cm (12 to 39 inches), threatening coastal communities, wetlands, and coral reefs. The precise amount of sea level rise depends on how much we are able to reduce the amount of climate warming.</p>

<b>Acidic Ocean Water</b>
<p>Earth’s oceans are predicted to act as a buffer against climate change by taking up some of the excess heat and carbon dioxide from the atmosphere. This is good news in the short run, but more problematic in the long run. Carbon dioxide combined with seawater forms weak carbonic acid. Scientists believe this process has reduced the pH of the oceans by about 0.1 pH since pre-industrial times. Further acidification of 0.14 to 0.35 pH is expected by the year 2100. Higher acidity in the ocean causes problems for coral reefs and other marine organisms.</p>

<b>Changes to Ocean Currents</b>
<p>Large-scale ocean currents called thermohaline circulation, driven by differences in salinity and temperature, may also be disrupted as the climate warms. Changes in precipitation patterns and the influx of fresh water into the oceans from melting ice can alter salinity. Changing salinity, along with rising water temperature, may disrupt the currents. In an extreme case, thermohaline circulation could be disrupted or even shut down in some parts of the ocean, which could have large effects on climate.</p>

<b>Changing Severe Weather</b>
<p>Some climate scientists believe that hurricanes, typhoons, and other tropical cyclones will change as a result of global warming. Warm ocean surface waters provide the energy that drives these immense storms. Warmer oceans in the future are expected to cause the intensification of such storms. Although there may not be more tropical cyclones worldwide in the future, some scientists believe there will be a higher proportion of the most powerful and destructive storms. Some scientists believe we already see evidence for an upswing in the numbers of the most powerful storms. Others are less convinced.</p>

<b>Changing Clouds</b>
<p>Clouds are a bit of a wild card in global climate models. Warmer global temperatures produce faster overall evaporation rates, resulting in more water vapor in the atmosphere...and more clouds. Different types of clouds at different locations have different effects on climate. Some shade the Earth, cooling the climate. Others enhance the greenhouse effect with their heat-trapping water vapor and droplets. Scientists expect a warmer world to be a cloudier one, but are not yet certain how the increased cloudiness will feed back into the climate system. Modeling the influence of clouds in the climate system is an area of active scientific research.</p>

<b>Risks to Marine Life</b>
<p>Ocean ecosystems will change as sea-surface temperatures continues to warm. Animals like fish are able to move to other ecosystems with cooler water at higher latitudes. But many marine organisms – like kelp and corals – that aren’t able to swim elsewhere are at high risk. Warmer waters in the shallow oceans have contributed to the death of about a quarter of the world's coral reefs in the last few decades. Many of the coral animals died after being weakened by bleaching, a process tied to warmed waters.<p>

<b>Risks to Life on Land</b>
<p>Changes in temperature, precipitation, and seasonal timing will alter the geographic ranges of many types of plants and animals. Since species can only survive if they are in a habitat that suits their needs, many species will face extinction if the geographic range where they can survive shrinks. If warming is kept to 2°C, 18% of insects, 16% of plants, and 8% of vertebrate animals are projected to lose over half of their geographic range. However, if we can keep the amount of warming to 1.5°C, the habitat loss to insects, plants, and vertebrates decreases by about a half. On the other hand, the range of some species, such as mosquitos which carry different types of diseases, may increase due to climate warming. Warming surface temperatures are also predicted to increase the frequency of heat waves and droughts, which can affect crop production, increase the risk of wildfires, and even impact human health.</p>


 </div>
  <button type="button" class="collapsible">Warming of the Polar Regions</button>
<div class="content">
  
  <p>The effects of climate change are not the same in all parts of the world. While global average temperature has risen 1°C (1.8°F) above the 1950-1980 average, our planet's polar regions are experiencing warming at a faster rate than other places.</p>

  <b>Warming in the Arctic</b>
<p>The Arctic is warming twice as fast as other parts of the world. In Alaska (US), average temperatures increased 1 .6°C (2.8°F) between 1976 and 2018. The warmer temperatures are having impacts in the Arctic region. Sea ice is melting, frozen ground (called permafrost) is thawing, and habitat is shrinking for wildlife that rely on cold temperatures. </p>

  <b>Warming in Antarctica  </b>
<p>In the Southern Hemisphere, the Antarctic Peninsula is also experiencing rapid warming, about five times faster than the global average. Since 1945, the Antarctic Peninsula has warmed about 2.5°C (4.5°F). The interior of the Antarctic continent and the East Antarctic Ice Sheet, considered unlikely to be affected by climate warming in the past, are also showing signs of change. The Southern Ocean is also warming faster than expected.</p>

 <b>Why are the polar regions particularly vulnerable to climate warming? </b>
<p>The ice and snow in the polar regions, because of its light color and high albedo, typically reflect most of the incoming solar energy back out of our atmosphere. However, as more greenhouse gases cause our planet to warm, the rate of ice and snowmelt increases. This decreases the amount of solar radiation reflected out to space and increases the amount that is absorbed by the Earth’s surface and oceans. The added energy warms the polar regions, accelerating the rate of ice to melt and thus causing more warming.</p>
  
 </div>
  <button type="button" class="collapsible">Effects of Climate Change on Ecology</button>
<div class="content">
  <p>Our climate is warming, which is changing the physical environments that support living systems. In the ocean, water temperatures are rising and becoming more acidic. On land, temperatures are rising as well, and soil health and freshwater quality are declining. In many places, environments are changing so fast that plants and animals cannot keep up, endangering entire ecosystems.</p>

    <b>Climate change causes shifts in ecosystems.</b>
<p>Rising temperatures cause shifting ecosystems, either expanding or decreasing the geographical range of specific types of habitats, or changing the timing of seasons. For example, a study of European butterflies found that populations had shifted north by 114 km between 1990-2008 due to increasing temperatures and expansion of suitable habitat.
 Sometimes this expanding range brings new invasive species, which can cause native species to decline or go extinct, which alters the ecosystem. Slight changes in temperature are enough to cause spring thaw to happen earlier and fall frost to come sooner, which changes the timing of the growing season for plants and trees. This changes the availability of food, which can affect the size and health of populations within an ecosystem. </p>

 <b>Rising temperatures threaten species diversity. </b>
<p>As temperatures continue to rise, many species are no longer able to thrive in places where they once lived. Scientists estimate that 8% of current animal species are at risk of extinction due to climate change alone.

Near the equator, a region with Earth’s highest biodiversity, many species are not able to adapt to rising temperatures. Reef fish are already living in the warmest water that they can tolerate and cannot survive as the water warms even more. It is also estimated that by 2070 nearly 20% of tropical plant species will be unable to germinate because of temperatures beyond their upper limit.

The frequency of hot, dry conditions increases as the climate warms, which intensifies wildfires. In the western United States, projections show that a 1°C rise in global temperature increases the average area burned by wildfires each season by 600%, impacting local populations of plants and animals in the path of the fires. The bushfire that burned over 25 million acres in Australia during 2019-2020, which started due to a lightning strike following an especially hot, dry spell, killed an estimated one billion animals. Many of the animals that died in these fires are found only in Australia, which raises concern about the future of these unique ecosystems. While local plant and animal populations usually recover following a fire, species that only exist in very small numbers or are found only in limited places are at higher risk for global extinction.</p>

 <b>Extreme weather events impact ecosystems. </b>
</p>Scientists see a correlation between climate change and the increase of severe weather events, which can significantly impact species and ecosystems in a short amount of time. For example, in 2019, an extreme heatwave hit Cairns, Australia, causing the death of one-third of the spectacled flying foxes in just two days as temperatures climbed to 42°C (about 108°F). Even though animals such as flying foxes are adapted to the typical Australian heat, we see that they are unable to survive the extreme temperatures that are becoming more common due to climate change.

The intensity of tropical storms and hurricanes is also increasing due to warmer sea surface temperatures, causing more disruption to coastal plants and animals as habitat is changed or destroyed when the storms make landfall. The severe flooding and winds from these storms can impact ecosystems by disrupting nutrient cycling and the growth of plants. As the climate warms, more areas are affected by tropical storms and hurricanes, which means that more ecosystems are vulnerable to damage from extreme weather than in the recent past.</p>

 <b>Sea level rise is causing the loss of coastal ecosystems.</b>
<p>Rising seas are displacing hundreds of thousands of people along the coasts and causing the loss of wetland ecosystems. By 2080 as much as 22% of the planet’s wetlands could be lost due to sea level rise. Coastal Louisiana, US, which has over two million acres of wetlands, is losing about a football field worth of land every 45 minutes, which is faster than almost any other place on Earth. Wetlands ecosystems protect coastlines from floods and store three times as much carbon as forests, which is important for mitigating climate change. The loss of coastal wetlands due to climate change threatens the diverse species of plants and animals that live within them, and impacts fishing economies that depend on marine life.</p>
<b>Coral reefs are dying due to warming ocean temperatures.</b>
 <p>One-third of the Earth’s corals have been lost due to the warming ocean. When average ocean temperatures rise just 1°C, the coral become stressed and expel the symbiotic algae that make their food, resulting in the appearance of white coral (called coral bleaching). Though coral reefs cover less than one percent of the ocean floor, they support about 25% of all life in the ocean. The loss of coral reefs threatens marine ecosystems that depend on reefs as nurseries for fish and other marine species. Coastlines normally protected by coral reefs are also more vulnerable to erosion and storms.</p>
</div>
  <button type="button" class="collapsible">Impacts of climate change on human health</button>
<div class="content">
 <h2>Three ways a changing climate can impact human health:</h2
   <p><b>Extreme events:</b> There is evidence that natural events such as heat waves, droughts, and storms are becoming more common and/or more intense as Earth’s climate warms. These events pose risks to human health. Thus more of them or more intense events pose more risk to human health. </p>
<p><b>Vector-borne diseases: </b>Mosquitoes and other animals that carry infectious diseases like malaria from place to place (person to person) can only flourish in certain environments. As regional climates shift, the geographic distribution of these “vectors” changes as well.</p>
<p><b>Water and human health:</b> The rates of water-borne diseases (resulting from unclean water) and water-washed diseases (resulting from lack of washing where water is scarce) are both expected to increase as climate continues to change.</p>
 </div>
</div>

<div id="Climate_Solutions" class="tabcontent">
  <h3>Tokyo</h3>
  <p>Tokyo is the capital of Japan.</p>
</div>

<script>
function openTab(evt, cityName) {
  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }
  document.getElementById(cityName).style.display = "block";
  evt.currentTarget.className += " active";
}
  
 // Get the element with id="defaultOpen" and click on it
document.getElementById("defaultOpen").click();
  
  var coll = document.getElementsByClassName("collapsible");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.display === "block") {
      content.style.display = "none";
    } else {
      content.style.display = "block";
    }
  });
}
</script>
</body>
<html>
